MESSAGE_QUEUE_HOST="{Dev QUEUE}"
MESSAGE_QUEUE_USER="RootManageSharedAccessKey"
MESSAGE_QUEUE_PASSWORD="{The password}"
EVENT_QUEUE_ADDRESS="ffc-ahwr-event-{initials}"
PAYMENTREQUEST_TOPIC_ADDRESS="ffc-pay-request-{initials}"
PAYMENTRESPONSE_TOPIC_ADDRESS="ffc-pay-request-response-{initials}"
PAYMENTRESPONSE_SUBSCRIPTION_ADDRESS="ffc-ahwr-application-{initials}"
HTTP_PROXY=""
APPINSIGHTS_CLOUDROLE="ffc-ahwr-eligibility"
APPLICATIONPAYMENTREQUEST_QUEUE_ADDRESS_URL="ahwr_payment_request_queue"
AWS_ENDPOINT_URL="http://0.0.0.0:4566"
MONGO_URI="mongodb://localhost:27017/"
AWS_ACCESS_KEY_ID="test"
AWS_SECRET_ACCESS_KEY="test"
AWS_REGION="eu-west-2"
NODE_ENV="development"
AZURE_CLIENT_ID="{DEV client id}"
APPLICATION_REQUEST_TOPIC_ARN="arnsns:eu-west-2:000000000000:ahwr_payment_update"
PAYMENTS_BLOB_URI_PREFIX="https://storage.blob.core.windows.net"
